@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Javascript
{

    <script src="~/Scripts/AngularModule/users/users-controller.js"></script>
    <script src="~/Scripts/AngularModule/users/users-repository.js"></script>

    <script src="~/Scripts/AngularModule/jobs/jobs-controller.js"></script>

    <script src="~/Scripts/AngularModule/jobs/jobs-repository.js"></script>
}

<div class="container-fluid">
    <div class=" col-xs-10">
        <div class=" navbar navbar-default ">
            <div class=" navbar-header">
                <div class=" navbar-brand">Catalog</div>

            </div>
            <div class=" navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/AngularJS.Practice/Home/Users"> Brows Users</a></li>
                    <li><a href="/AngularJS.Practice/Home/Jobs"> Brows Jobs</a></li>

                </ul>

            </div>


        </div>

    </div>
    <div ng-view=""></div>



</div>